<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Online-Shop: Products</title>
    <link rel="stylesheet" href="css/awsm.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/extansion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="all.js"></script>
</head>

<body>
<main>
    <header>

            <h1>Royal Cloth</h1>
            <h6>"Elegancja to jedyne piękno, które nigdy nie zniknie" - Audrey Hepburn</h6>

            <div>
                <h5 class="menu">PRODUKTY <i class="fa fa-crosshairs"></i></h5>
            </div>

            <a th:href="@{/comments}" style="text-decoration: none">
                <div>
                    <h5 class="menu">OPINIE <i class="fa fa-coffee"></i></h5>
                </div>
            </a>

            <a href="/contact" style="text-decoration: none">
            <div>
                <h5 class="menu">KONTAKT <i class="fa fa-briefcase"></i></h5>
            </div>
            </a>

            <a th:href="@{/cart}" style="text-decoration: none">
                <div>
                    <h5 class="menu">KOSZYK <i class="fa fa-shopping-cart"></i></h5>
                </div>
            </a>

            <div style="clear:both"></div>


    </header>

        <div class="row">


            <div id="content">
                
                <!--/*@thymesVar id="projects" type="pl.cichy.model.Product"*/-->
                <fieldset>

                    <div class="flip-card" th:each="product : ${products}">
                        <a th:href="@{/product(productId=${product.productId})}">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img th:src="|${product.getImage()}|" alt="img" style="width:100%;height:auto;">
                                <p class="productName" th:text="|${product.getName()}|"></p>
                                <p class="productDesc" th:text="|${product.getCategory()}|"></p>
                                <p>Szczegóły</p>
                            </div>
                            <div class="flip-card-back">
                                <h3 th:text="|${product.getName()}|"></h3>
                                <p class="productDesc" th:text="|Dostępne: ${product.getUnitsInStock()} szt.|"></p>
                                <p th:text="|Cena: ${product.getUnitPrice()} zł|"></p>
                                <p>Dodaj</p>
                                <p>Click it for more information</p>
                            </div>
                        </div>
                        </a>
                    </div>


                    <!--/*
                                        <div>

                                            <a th:href="@{/products/product/{productId}(productId=${product.productId})}" style="text-decoration: none">
                                                <button>
                                                    <span>Szczegóły <i class="fa fa-suitcase"></i></span>
                                                </button>
                                            </a>

                                            <a th:href="@{/rest/cart/add/{productId}(productId=${product.productId})}" style="text-decoration: none">
                                                <button>
                                                    <span>Dodaj do koszyka -> <i class="fa fa-shopping-cart"></i></span>
                                                </button>
                                            </a>

                                            <a th:href="@{/cart}">
                                                <button>
                                                    <span>Koszyk <i class="fa fa-shopping-cart"></i> <i class="fa fa-dollar"></i></span>
                                                </button>
                                            </a>


                                        </div>

                       */-->
                </fieldset>

            </div>

            <div style="clear:both"></div>

        </div>


    <footer>
        <h6>Created and designed by Przemysław Cichy &copy; All rights reserved.</h6>
    </footer>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="js/bootstrap.min.js"></script>

</body>
</html>