<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Product Card UI Design</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
        <link rel="stylesheet"  href="css/fullpage.min.css" />
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div id="fullpage">



            <!-- HEADER -->
            <section class="section s1">

                <div class="header">
                    <nav>

                        <div class="logo">
                            <h4>Royal Cloth</h4>
                        </div>

                        <ul class="nav-links">
                            <li><a href="#">Products</a>

                                <ul class="sub-links">
                                    <li><a href="#">Zestawy</a></li>
                                    <li><a href="#">Koszule</a></li>
                                    <li><a href="#">Dodatki</a></li>
                                </ul>

                            </li>
                            <li><a href="/contact">Contacts</a></li>
                            <li><a href="#">AboutMe</a></li>
                            <li><a th:href="@{/cart}">Cart</a></li>
                        </ul>

                        <div class="burger">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>

                    </nav>

                </div>

                <!-- // FOOTER -->

                <div class="s1">

                </div>



                <div class="carousel">

                    <div class="carousel-item" th:each="item : ${items}">
                        <div class="card">
                            <div class="imgBx">
                                <img th:src="|${item.getImage()}|">
                            </div>
                            <div class="contentBx">
                                <h2 th:text="|${item.getName()}|"></h2>
                                <div class="size">
                                    <h3>size :</h3>
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                </div>
                                <div class="color">
                                    <h3>color :</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <a th:href="@{/product(itemId = ${item.productId})}">Buy Now!</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="section s2">

                <div class="header">
                    <nav>

                        <div class="logo">
                            <h4>Royal Cloth</h4>
                        </div>

                    </nav>

                </div>

                <div class="s2">
                    <video autoplay muted loop id="myVideo2">
                        <source src="video/christmas.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="carousel">

                    <div class="carousel-item" th:each="product : ${products}">
                        <div class="card">
                            <div class="imgBxCar2">
                                <img th:src="|${product.getImage()}|">
                            </div>
                            <div class="contentBxCar2">
                                <h2 th:text="|${product.getName()}|"></h2>
                                <div class="size">
                                    <h3>size :</h3>
                                    <span>XS</span>
                                    <span>S</span>
                                    <span>M</span>
                                    <span>L</span>
                                </div>
                                <a th:href="@{/product(productId=${product.productId})}">Buy Now!</a>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

            <!-- FOOTER -->
            <section class="section s4">

                <nav>

                    <div class="logo">
                        <h4>Royal Cloth</h4>
                    </div>

                </nav>

                <div class="footer">
                    <div class="footer-content">

                        <div class="footer-section about">
                            <h1 class="logo-text"><span>Royal</span>Clothes</h1>
                            <p>
                                Tutaj jest opis naszego sklepu i projektu, czym się zajmujemy i co sprzedajemy. Krótka prezentacja naszej firmy i wszystkiego co chcemy przekazać klientowi.
                            </p>
                            <div class="contact">
                                <span><i class="fas fa-phone"></i> &nbsp; 123-456-789 </span>
                                <span><i class="fas fa-envelope"></i> &nbsp; nasz.mail@email.com </span>
                            </div>
                            <div class="socials">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>

                        <div class="footer-section links">
                            <h2>Quick Links</h2>
                            <br>
                            <ul>
                                <a href="#"><li>Materials</li></a>
                                <a href="#"><li>Suppliers</li></a>
                                <a href="#"><li>Events</li></a>
                                <a href="#"><li>Gallery</li></a>
                                <a href="#"><li>Terms and Conditions</li></a>
                            </ul>
                        </div>

                        <div class="footer-section contact-form">
                            <h2>Contact us</h2>
                            <br>
                            <form>
                                <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
                                <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
                                <button type="submit" class="btn btn-big contact-btn">
                                    <i class="fas fa-envelope"></i>
                                    Send
                                </button>
                            </form>

                        </div>

                    </div>

                    <div class="footer-bottom">
                        &copy; Designed and created by Przemysław Cichy. 03.11 - Fix adding items to cart. Fix removing item from cart. <br><br>
                        [*]
                    </div>
                </div>

            </section>

        </div>

        <!-- // FOOTER -->



        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
                integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk="
                crossorigin="anonymous"
        ></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
                integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U="
                crossorigin="anonymous"
        ></script>
        <script src="./fullpage.min.js"></script>
        <script src="app.js"></script>


        <script src="navbar.js"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            $(document).ready(function(){
                $('.carousel').carousel();
            });
        </script>

    </body>
</html>