<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Welcome in my place in internet! :)</title>
    <link rel="stylesheet" href="css/awsm.css">

</head>
<body>
<main>
    <fieldset>
        <header>
            <h1>My Way to Win!</h1>
            <p>Jestem programistą JAVA. Cały frontend w tym projekcie, powstał tylko na potrzeby zaprezentowania działania backendu. Pełne odwzorowanie wyglądu na Chrome & Firefox - wersjach na komputer</p>

            <nav>
               <ul>
                   <fieldset>
                        <li>
                            <a href="/products" style="text-decoration: none">1. Online-Shop | >>main backend project<< </a>
                        </li>
                   </fieldset>
               </ul>
                <ul>
                    <fieldset>
                        <li>
                            <a href="#" style="text-decoration: none">2. My portfolio | >>about me (loading...;))<< </a>
                        </li>
                    </fieldset>
                </ul>
            </nav>

            <fieldset>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FhzNSPiqO0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </fieldset>

        </header>
    </fieldset>
</main>
</body>
</html>