<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-Shop: welcome! :)</title>
    <link rel="stylesheet" href="css/awsm.css">

</head>
<body>
<main>
    <fieldset>
        <header>
            <h1>My super Online Shop</h1>
            <p>Your best place to buy!</p>
            <nav>
               <ul>
                   <fieldset>
                    <li>
                     <a href="/products">Produkty</a>
                    </li>
                   </fieldset>
               </ul>
            </nav>
        </header>
    </fieldset>
</main>
</body>
</html>